@import 'mixin';

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.animate-title {
    color: #fff;
    font-family: "Nico Moji";
    font-size: 6.8vh;
    font-weight: 900;
    text-shadow: 1px 1px 2px black;

    &.inview {
        opacity: 1;
        & .char {
            display: inline-block;
            @include animation($name: kf-animate-chars,
                $duration: 0.5s,
                $timing-function: cubic-bezier(0.39,1.57,0.58,1),
                $fill-mode: both
            );

            @for $i from 1 through 17 {
                &:nth-child(#{$i}) {
                    animation-delay: $i * 0.1s;
                }
            }
        }
    }
}

@keyframes kf-animate-chars {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}